body, html {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #fafafa;
}

.outer {
  position: relative;
  width: 50%;
  margin: 150px auto;
  text-align: center;
  border: 8px solid #FD6585;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (1 / 1) * 100%;
  }
  > .inner {
    position: absolute;
    top: -20px;
    right: 5px;
    bottom: 5px;
    left: -20px;
    display: flex;
    align-items: center;
    border: 8px solid #3DA3E8;
  }
}
