body, html {
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  color: #777;
  font-family: fantasy;
  background-color: #d6e4fb;
}

h2 {
  width: 100%;
  padding: 20px;
}

.outer {
  position: relative;
  top: 50%;
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  border: 8px solid #FD6585;
  transition: all .3s ease-in-out;
  transform: translateY(-50%);
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (1 / 1) * 100%;
  }
  &:hover > .inner {
    top: -20px;
    right: 5px;
    bottom: 5px;
    left: -20px;
  }
  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    border: 8px solid #3DA3E8;
    transition: all .2s ease;
  }
}
